@import "sprite/*.png";

.icon, .flag {
  display: inline-block;
}

.flag {
  @include sprite-sprite(flag-blank);
  width: sprite-sprite-width(flag-blank) + 2px;
  height: sprite-sprite-height(flag-blank) + 2px;
  border: 1px solid #666;
}

.flag-en {
  @include sprite-sprite(flag-en);
}

.flag-de {
  @include sprite-sprite(flag-de);
}

.icon-cart {
  @include sprite-sprite(shopping-bag);
  width: sprite-sprite-width(shopping-bag);
  height: sprite-sprite-height(shopping-bag);
}
